@import "tailwindcss";

@theme {
  --font-sans: 'Inter', "Segoe UI", Roboto, "Helvetica Neue", sans-serif;

  --color-brand-primary: #A8DF8E;
  --color-brand-bg: #F0FFDF;
  --color-brand-soft: #FFD8DF;
  --color-brand-accent: #FFAAB8;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-bg);
  @apply text-slate-900;
}