@import "tailwindcss";

@theme {
  --font-sans: 'Inter', "Segoe UI", Roboto, "Helvetica Neue", sans-serif;

  --color-brand-primary: #A8DF8E;
  --color-brand-bg: #F0FFDF;
  --color-brand-soft: #DCFCE7;
  --color-brand-accent: #86b372;
}

body {
  font-family: var(--font-sans);
  @apply text-slate-900;
}